<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Limits and defaults (do not write API keys here) -->
    <add key="RequestsPerMinute" value="15" />
    <add key="MaxResults" value="200" />
    <add key="DefaultRegionKl" value="es-es" />
    <add key="SerpApiTimeoutSeconds" value="120" />
    <add key="SerpApiRetry429Max" value="3" />
    <add key="SerpApiRetry429BaseDelayMs" value="2000" />
    <!-- Bing async polling (opcional) -->
    <add key="SerpApiBingAsyncPollingIntervalMs" value="1000" />
    <add key="SerpApiBingAsyncMaxWaitMs" value="180000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>


